<nav class="navbar dark-mode" role="navigation">
    <div >
      <form class="search">
          <img src="/iages/search.svg" class="filter-green" width="30px" height="30px"/>
          <input type="search" placeholder="SEARCH FOR ...">
      </form>
    </div>
    <div class="navbar__logo"><h1>MIHOUBWASSIM</h1></div>    
    <ul class="navbar__links">
      <li class="navbar__link first"><a href="/">home page</a></li>
      <li class="navbar__link second"><a href="/ourServices">our services</a></li>
      <li class="navbar__link third"><a href="/contactUs">contact us</a></li>
    </ul>   
    <button class="burger">
      <span class="bar"></span>  
    </button>   
  </nav>