<%- include("./partials/head.ejs") %>
  <body>
    <div class="bann" ></div> 
        <!-- Fin de la barre de navigation -->   
        <%- include("./partials/navBar.ejs") %>


        <div >
            <div class="photo-collection">
            <img src="/iages/1.jpg" class="img1">
            <img src="/iages/2.jpg" class="img2">
            </div>
            <div class="parag">
            <p class="title">REDAY TO WEAR </p>
            <p class="description">Each Passage Of The Haute Couture Spring Summer 2022 Collection Is An Escapade Through Geographies And Time, Made Unique Through Generous Textures, Intrucate Details And Distinct Organic Forms. </p>
            <button onclick="window.location.href = 'collection.html';" type="button" class="button">DISCOVER THE COLLECTION</button>
        </div>
        </div>
        <div >
            <div class="photo-collection">
            <img src="/iages/1.jpg" class="img1">
            <img src="/iages/2.jpg" class="img2">
            </div>
            <div class="parag">
            <p class="title">REDAY TO WEAR </p>
            <p class="description">Each Passage Of The Haute Couture Spring Summer 2022 Collection Is An Escapade Through Geographies And Time, Made Unique Through Generous Textures, Intrucate Details And Distinct Organic Forms. </p>
            <button onclick="window.location.href = 'collection.html';" type="button" class="button">DISCOVER THE COLLECTION</button>
        </div>
        </div>
    
  </body>
</html>